.item{
    width: 90%;
    height: 70px;

    border-radius: 5px;

    padding-left: 20px;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    box-sizing: border-box;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.itemNotSelected{
    background-color: rgba(79, 79, 79, 0.6);
    transition: background-color 0.2s ease;
}

.itemNotSelected:hover{
    background-color: rgba(79, 79, 79, 0.8);
}

.itemSelected{
    background-color: rgba(79, 79, 79, 1);
}

.userImage{
    width: 35px;
    height: 35px;

    margin-right: 10px;

    border-radius: 100px;
}
.username{
    color: rgb(255, 255, 255);
    font-size: 16px;
}
::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1024px){
    .item{
        padding-left: 15px;
    }
    .itemNotSelected:hover{
        background-color: rgba(79, 79, 79, 1);
    }
}

@media (max-width: 768px){
    .item{
        padding-left: 20px;
    }
    .itemNotSelected{
        background-color: rgba(79, 79, 79, 1);
    }
}