.item{
    width: 90%;
    height: 80px;

    background-color: rgba(79, 79, 79, 0.85);
    border-radius: 5px;

    padding-left: 20px;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    box-sizing: border-box;

    transition: background-color 0.2s ease-out;
}
.userImage{
    width: 35px;
    height: 35px;

    margin-right: 10px;

    border-radius: 100px;
}
.username{
    color: rgb(255, 255, 255);
    font-size: 16px;
}
::-webkit-scrollbar {
    display: none;
}
.item:hover{
    background-color: rgba(79, 79, 79, 1);
}